<div class="container">
  <p id="notice"><%= notice %></p>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Users Infomation</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active "><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        
      </ul>
    </div>
  </div>
</nav>
<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user ,:class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_user_path(user) ,:class => "btn btn-success"%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<div>
<%= link_to 'New User', new_user_path,:class => "btn btn-success" %></button>

</div>


