<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user),:class => "btn btn-success" %> |
<%= link_to 'Back', users_path, :class => "btn btn-info" %>
